@model IEnumerable<Inmobiliaria.Models.Inmuebles>

@{
    ViewData["Title"] = "IndexI";
}

<h1>Lista de Inmuebles</h1>

<p>
    <a asp-action="CrearInmueble" class="btn btn-primary"><i class="fa-solid fa-person-circle-plus fa-xl" style="color: #000000;"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Superficie)
            </td>
        
            <td>
                @(item.propietario.Nombre + " " + item.propietario.Apellido)
            </td>
            <td>
                <a href='@Url.Action("EditarInmueble", new { id = item.Id })' class="btn btn-sm btn-info">
										<i class="fa-solid fa-user-pen fa-lg" style="color: #315eaa;"></i>

				</a>
                  <a href='@Url.Action("DetalleInmueble", new { id = item.Id })' class="btn btn-sm btn-info">
										<i class="fa-solid fa-neuter fa-lg" style="color: #000000;"></i>

				</a>
                  <a href='@Url.Action("BorrarInmueble", new { id = item.Id})' class="btn btn-sm btn-danger">
										<i class="fa-solid fa-user-xmark" style="color: #000000;"></i>
            </td>
        </tr>
}    
    </tbody>
</table>
